body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: rgba(238, 222, 248, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-container {
  background: white;
  width: 90%;
  max-width: 380px;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(160, 70, 220, 0.2);
  position: relative;
  text-align: center;
}

.cupcake-img {
  width: 110px;
  display: block;
  margin: 0 auto 20px;
}

.welcome {
  color: #a35ad0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.field-label {
  font-weight: 600;
  font-size: 14px;
  color: #695c5c;
  margin-bottom: 5px;
}

.signup-form input {
  padding: 12px;
  padding-right: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.signup-btn {
  background-color: #a95ed8;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #912bc9;
}

.login-text {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
}

.login-text a {
  color: #2f89fc;
  font-weight: 500;
  text-decoration: underline;
}
